#registerHeader{
    color: black;
    padding-left: 55px;
    padding-bottom: 50px;
    padding-top: 140px;
}

.registerContainer {
    display: flex;
    justify-content: center;
    width: 50%;
    display: block;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-25%, -60%);
    margin-top: 100px;
}

#inputBox{
}

  #registerBtn{
    margin-left: 55px;
  }

  #register{
    color: black;
    padding-right: 25px;
    padding-top: 15px;
  }


  