#aboutContainer{
    width: 50%;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#aboutUs {
    text-align: center;
    font-size: 40px;
}