body{
    background-image: url("https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#profileContainer{
    text-align: center;
    width: 50%;
    margin-top: 70px;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    border-radius: 50px;
    padding: 50px;
    box-shadow: 0px 0px 20px 2px #023020;
    background-color: #B4E197;
}

#profilePage {
  padding-bottom: 100px;
}

#label {
    text-align: right;
    line-height: 26px;
    margin-bottom: 20px;
  }

  #inputBox{
    border-radius: 10px;
  }

  #btn {
    height: 30px;
    flex: 0 0 200px;
    margin-left: 10px;
    border-radius: 6px;
  }

  #deleteBtn {
    margin-left: 55px;
  }

  
