
#nolog-msg{
    font-size: 40;
    position: fixed;
    top: 50%;
    left: 50%;
    color: green;
    border: blue solid 3px;
}

.usersInfo-wrap {
    background-image: url("https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
	place-items: center
}

.usersInfo{
   border: #023020 solid 3px;
   font-size: 20px;
   margin: 10px;    
   height: 90%;
   width: 40%;
   text-align: center;
   background-color: #B4E197;
}

.profile_picture{
    margin-top: 7px;
    width: 100px;
    height: 100px;
    border-radius: 70%;
    border: black 2px solid;
}
