body {
    background-color: rgb(234, 234, 234);
  }
  
  
  #navbarBackground{
    background-color: #4E944F;
  }
  
  .Logo {
    width: 70px;
    margin-left: 80px;
    height: 100px;
    
  }
  
  .name {
    margin-left: 120px;
  }
  
  .links {
    color: #E9EFC0;
    padding: 30px;
    padding-right: 80px;
    text-align: center;
    text-decoration: none;
    height: 110px;
  }

  .routesContainer :hover{
    color: white;
  }


  #cart{
    display: flex;
  }
  
  #pageheader {
    text-decoration: none !important;
    color: inherit !important;
    font-style: italic;
    font-size: 35px;
  }

  .goToCheckoutButtons{
    border: none;
    padding: 5px 10px;
    background: #83BD75;
    font-size: 16px;
    cursor: pointer;
    border:10px;
    border-radius: 5px;
    font-weight: 400;
    color:white;
    text-decoration: none;
    margin-left: 10px;
  }

  .welcomeText {
    margin: 0 10px;
  }

  