body {
    background-color: green;
}
.LandingPage-Wrapper{
    background-color: #9DC08B;
    justify-content: space-between;
    margin: 25px;
    height: 450px;
    border: solid 3px #40513B;
    
}

.logowrap {
    display: flex;
    justify-content: center;
}

#logo {
    height: 150px;
    border: double green 3px;
    justify-self: center;
}

#Title{
    border: 5px #40513B solid;
    color: green;
    display:flex;
    justify-content: center;
    font-size: 140px;
    
}
#slogan {
    color: green;
    border: 5px #40513B solid;
    display: flex;
    justify-content: center;
}

.carousel{
    width: 30%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

