body {
    background-color: green;
}
.LandingPage-Wrapper{
    background-color: #9DC08B;
    justify-content: space-between;
    margin: 25px;
    height: 450px;
    border: solid 3px blue;
    
}

.logowrap {
    display: flex;
    justify-content: center;
}

#logo {
    height: 150px;
    border: double green 3px;
    justify-self: center;
}

#Title{
    border: 5px red solid;
    color: green;
    
}
#slogan {
    color: green;
    border: 5px red solid;
    display: flex;
    align-self: center;
}


